altair==5.3.0
annotated-types==0.7.0
astropy==5.3.4
attrs==23.2.0
blinker==1.8.2
cachetools==5.3.3
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
filelock==3.15.4
fonttools==4.53.0
frictionless==5.17.0
gitdb==4.0.11
GitPython==3.1.43
humanize==4.9.0
idna==3.7
importlib_resources==6.4.0
isodate==0.6.1
Jinja2==3.1.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
latexcodec==3.0.0
markdown-it-py==3.0.0
marko==2.1.2
MarkupSafe==2.1.5
matplotlib==3.9.1
mdurl==0.1.2
numpy==1.26.4
packaging==24.1
pandas==2.2.2
petl==1.7.15
pillow==10.4.0
plotly==5.22.0
protobuf==5.27.2
pyarrow==16.1.0
pybtex==0.24.0
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
pyerfa==2.0.1.4
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2024.1
PyYAML==6.0.1
referencing==0.35.1
requests==2.32.3
rfc3986==2.0.0
rich==13.7.1
rpds-py==0.18.1
shellingham==1.5.4
simpleeval==0.9.13
six==1.16.0
smmap==5.0.1
streamlit==1.36.0
stringcase==1.2.0
tabulate==0.9.0
tenacity==8.4.2
text-unidecode==1.3
toml==0.10.2
toolz==0.12.1
tornado==6.4.1
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
unitpackage==0.8.4
urllib3==2.2.2
validators==0.30.0
zipp==3.19.2
